* {
    font-family: 'Roboto Slab', serif;
    text-shadow: 1px 1px #263238;
}

.social-icon-nav {
    width: 40px;
    position: relative;
    top: 10px;
}

.social-icon-side {
    width: 35px;
    position: relative;
    top: 5.5px;
}

nav .brand-logo {
    font-weight: bolder;
    padding: 0px 15px;
    text-shadow: 1px 1px #90a4ae;
}

nav ul a , .sidenav li > a {
    font-weight: bold;
    text-shadow: .75px .75px #607d8b;
}

nav {
    background-color: #263238;
}

.page-footer {
    background-color: #263238;
}

.page-footer .footer-copyright {
    background-color: #1f292e;
}

.footer-text {
    color: white;
    text-shadow: .75px .75px #607d8b;
}

body {
    background-image: url("../assets/images/background.png");
}

.image-container {
    text-align: center;
}

.screenshot {
    border: 5px outset #cfd8dc;
}

.proj-btn {
    background-color: #b0bec5;
    color : black;
    font-weight: bold;
    text-shadow: .5px .5px #546e7a;
}

.proj-btn:hover {
    background-color: #cfd8dc;
}

.button-row {
    margin-top: 10px;
    margin-bottom: 0px;
}