#about {
    margin-top: 20px;
    padding : 1.25em;
    background-color: #455a64;
    color: white;
}

#info {
    margin-top: 20px;
    padding : 1.25em;
    background-color: #455a64;
    color: white;
}

.about-picture-container {
    text-align: center;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin: .2em;
    text-shadow: 1.5px 1.5px #263238;
}