<div class="container">
    <div class="row">
        <div class="col offset-m3 m6" id="web-project">
        </div>
    </div>
</div>

<link rel="stylesheet" href="./assets/css/webdev.css">
<script src="./assets/js/webdev-handler.js"></script>